<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

# from Chris
    Redirect 301 http://www.graceframe.com/site/warranty-registration /en/
    Redirect 301 http://www.graceframe.com/site/catalog-request /en/
    Redirect 301 http://www.graceframe.com/site/picture-share /en/
    Redirect 301 http://www.graceframe.com/site/shipping-sizes-and-weights /en/page/shipping-policy
    Redirect 301 http://www.graceframe.com/site/ /en/
    Redirect 301 http://www.graceframe.com/site/grace-speed-control /en/product/speed-control
    Redirect 301 http://www.graceframe.com/site/surestitch-stitch-regulator /en/product/surestitch-stitch-regulator
    Redirect 301 http://www.graceframe.com/site/component/content/article/18-support/71-qm-support /en/
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/44-sidekick /en/
    Redirect 301 http://www.graceframe.com/cart/replacement-fabri-fast-tube.html /en/product/replacement-fabri-fast-tube
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/replacement-track.html /en/product/replacement-plastic-track
    Redirect 301 http://www.graceframe.com/cart/hand-quilting-frames/ez3.html /en/product/start-right-ez3-hand-frame
    Redirect 301 http://www.graceframe.com/site/bungee-clamps /en/product/bungee-clamps
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/bungee-clamps.html /en/product/bungee-clamps
    Redirect 301 http://www.graceframe.com/cart/hand-quilting-frames/z44.html /en/product/z44-hand-quilting-frame
    Redirect 301 http://www.graceframe.com/cart/hand-quilting-frames/the-gracie-bee.html /en/product/graciebee
    Redirect 301 http://www.graceframe.com/cart/quilting-hoops/the-grace-hoop2.html /en/product/hoop2
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/hand-quilting-accessories/swing-arm-lamp.html /en/product/swing-arm-lamp
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/hand-quilting-accessories/individual-hoops-for-the-grace-hoop2-stand.html /en/product/hoop2-hoops
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/39-cloth-leaders /en/product/cloth-leaders
    Redirect 301 http://www.graceframe.com/site/luminess-light-station /en/accessories/luminess
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/38-ppp /en/accessories/plastic-pattern-perfect
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/plastic-pattern-perfect-additional.html /en/product/plastic-pattern-perfect-6-panel
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/grace-cutter-switch.html /en/product/cutter-switch
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/carriage-upgrade.html /en/product/carriage-upgrade
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/35-laser /en/product/gracie-laser
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/40-gooselamp /en/product/goose-neck-lamp
    Redirect 301 http://www.graceframe.com/site/component/content/article/6-accessories/45-grace-brite-white-bulb /en/product/white-bulb
    Redirect 301 http://www.graceframe.com/site/truetrim /en/product/truetrim-thread-cutter
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/gq-frame-extension.html /en/product/gq-frame-extension
    Redirect 301 http://www.graceframe.com/site/component/content/article/18-support/69-truecut-support /en/resources/support/videos#comfort-cutter-videos
    Redirect 301 http://www.graceframe.com/site/grace-blog/latest /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/categories /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/lessons-learned-from-my-latest-quilt /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/blogger/listings/karla /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/categories/listings/general-quilting /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/blogger/listings/admin /en/
# from Joel
    Redirect 301 http://www.graceframe.com/site/rotarycutting/straightcut /en/product/straightcut-cutter
    Redirect 301 http://www.graceframe.com/site/rotarycutting/ruler /en/truecut/rulers
    Redirect 301 http://www.graceframe.com/site/rotarycutting/truesharp /en/truecut/truesharp
    Redirect 301 http://www.graceframe.com/site/rotarycutting/linear-sharpener /en/truecut/linear-sharpener
    Redirect 301 http://www.graceframe.com/site/rotarycutting/truecut360 /en/truecut/truecut360
    Redirect 301 http://www.graceframe.com/site/rotarycutting/rotary-cutting-mats /en/truecut/cutting-mats
    Redirect 301 http://www.graceframe.com/site/rotarycutting/non-slip-pads /en/truecut/rotary-cutting-accessories
    Redirect 301 http://www.graceframe.com/site/rotarycutting/truegrips /en/truecut/rotary-cutting-accessories
    Redirect 301 http://www.graceframe.com/site/rotarycutting/appligrips /en/truecut/rotary-cutting-accessories
    Redirect 301 http://www.graceframe.com/site/rotarycutting/rotary-cutting-blades /en/truecut/truecut360
    Redirect 301 http://www.graceframe.com/site/rotarycutting/truetrim-thread-cutter /en/truecut/cutting-table
    Redirect 301 http://www.graceframe.com/site/rotarycutting/rotary-blade-sharpening-accessories /en/truecut/rotary-cutting-accessories
    Redirect 301 http://www.graceframe.com/site/rotarycutting/cutting-table /en/truecut/cutting-table
    Redirect 301 http://www.graceframe.com/site/rotarycutting/rotary-cutting-combos /en/truecut/rotary-cutting-accessories
    Redirect 301 http://www.graceframe.com/site/frameaccessories/machineaccessories /en/sewing-machines/accessories
    Redirect 301 http://www.graceframe.com/site/frameaccessories/handaccessories /en/hand-quilting/accessories
    Redirect 301 http://www.graceframe.com/site/frameaccessories/frame-replacement-parts /en/machine-frames/accessories
    Redirect 301 http://www.graceframe.com/site/quilt-clips /en/accessories/quilt-clips
    Redirect 301 http://www.graceframe.com/site/grace-blog /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/about /en/page/about-us
    Redirect 301 http://www.graceframe.com/site/contact-us /en/contact
    Redirect 301 http://www.graceframe.com/site/dealer-locator /en/page/about-us
    Redirect 301 http://www.graceframe.com/site/product-support /en/page/about-us
    Redirect 301 http://www.graceframe.com/site/instructions /en/resources/support/instructions
    Redirect 301 http://www.graceframe.com/site/ask-an-expert-quilter /en/resources/support/instructions
    Redirect 301 http://www.graceframe.com/site/warranty-and-guarantee-information /en/resources/support/instructions
    Redirect 301 http://www.graceframe.com/site/handframes/graciebee?vsig53_0=0 /en/hand-quilting/graciebee
    Redirect 301 http://www.graceframe.com/site/handframes/graciebee?vsig53_0=1 /en/hand-quilting/graciebee
    Redirect 301 http://www.graceframe.com/site/handframes/graciebee?vsig53_0=2 /en/hand-quilting/graciebee
    Redirect 301 http://www.graceframe.com/site/handframes/graciebee?vsig53_0=3 /en/hand-quilting/graciebee
    Redirect 301 http://www.graceframe.com/cart/quilting-hoops/wood-lap-hoop.html /en/hand-quilting/grace-lap-hoops
    Redirect 301 http://www.graceframe.com/cart/quilting-hoops/poly-lap-hoop.html /en/hand-quilting/grace-lap-hoops
    Redirect 301 http://www.graceframe.com/cart/computerized-quilting/quiltcad-import-export-module.html /en/automation/qct/features
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/bright-white-replacement-bulb.html /en/accessories
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/goose-neck-lamp.html /en/product/goose-neck-lamp
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/the-truecut-rotary-cutting-system  /en/truecut
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/why-i-love-truegrips /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/new-juki-sure-stitch-compatibility /en/truecut
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/start-right-cloth-leaders-70.html /en/product/cloth-leaders
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/start-right-cloth-leaders.html //en/product/cloth-leaders
    Redirect 301 http://www.graceframe.com/site/picture-share/ /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-favorite-quilting-hoops?tmpl=component&amp;print=1 /en/
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/start-right-quilt-clips.html /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/your-quilting-stories /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/25-years-of-the-grace-company  /en/page/about-us
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/a-look-at-the-surestitch-stitch-regulator-1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-freind-ruth /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/a-tribute-to-sue  /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/attaching-the-quilt-to-the-frame /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-first-blog-post /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/attaching-the-quilt-to-the-frame?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/attaching-the-quilt-to-the-frame?start=10 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/25-years-of-the-grace-company?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/a-tribute-to-sue?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/grace-speed-control.html /en/category/machine-quilting-accessories
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/surestitch-stich-regulator.html /en/product/surestitch-stitch-regulator
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/new-juki-sure-stitch-compatibility?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/cart/grace-speed-control.html /en/product/speed-control
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/its-sneak-a-peak-time-quilters-creative-touch?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/its-sneak-a-peak-time-quilters-creative-touch?start=10 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/quilters-creative-touch-sneak-a-peak-number-2?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/categories/listings/general-quilting?start=10 /en/category/quilting
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/your-quilting-stories?tmpl=component&amp;print=1 /en/category/quilting
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/gracie-laser.html /en/product/gracie-laser
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/sidekick-table.html /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/blogger  /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-freind-ruth?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/the-truecut-rotary-cutting-system?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-company-at-international-quilt-festival-get-your-coupons?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/attaching-fabric-to-a-hand-quilting-frame?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/lessons-learned-from-my-latest-quilt?tmpl=component&amp;print=1 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/latest?start=10 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/blogger/listings/sally?start=10 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/picture-share/videos.html /en/
    Redirect 301 http://www.graceframe.com/site/picture-share/print.html /en/
    Redirect 301 http://www.graceframe.com/site/picture-share/ads.html /en/
    Redirect 301 http://www.graceframe.com/site/picture-share/banners.html /en/
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/surestitch-adapter.html /en/product/surestitch-stitch-regulator
    Redirect 301 http://www.graceframe.com/site/picture-share/index.html  /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/tracing-patterns-with-a-gracie-laser?tmpl=component&amp;print=1   /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/a-look-at-the-surestitch-stitch-regulator-1?tmpl=component&amp;print=1   /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/a-look-at-the-surestitch-stitch-regulator-1?start=10   /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-first-blog-post?tmpl=component&amp;print=1   /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/why-i-love-truegrips?tmpl=component&amp;print=1   /en/resources/blog

# from Brien
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-company-at-international-quilt-festival-get-your-coupons /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/blogger/listings/sally /en/resources/blog/great-qnique-quilter-review
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/tracing-patterns-with-a-gracie-laser /en/product/gracie-laser
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/my-favorite-quilting-hoops /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/attaching-fabric-to-a-hand-quilting-frame /en/resources/support/videos#quilting-frame-fabric-loading-videos
    Redirect 301 http://www.graceframe.com/site/grace-blog/categories/listings/new-quilting-discoveries /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/z44-pro-the-cadillac-of-hand-quilting-frames /en/resources/blog/hand-quilt-frames
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/quilters-creative-touch-sneak-a-peak-3 /en/resources/blog/quilters-creative-touch-software
    Redirect 301 http://www.graceframe.com/site/grace-blog/categories/listings/quilters-creative-touch-preview /en/resources/blog/quilters-creative-touch-software
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/quilters-creative-touch-sneak-a-peak-number-2 /en/resources/blog/quilters-creative-touch-software
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/its-sneak-a-peak-time-quilters-creative-touch /en/resources/blog/quilters-creative-touch-software
    Redirect 301 http://www.graceframe.com/site/grace-blog?start=10 /en/resources/blog
    Redirect 301 http://www.graceframe.com/site/component/content/article/8-handaccessories/43-stain /en/
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/hand-quilting-accessories/z44-caster-set.html /en/product/z44-caster-set
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/hand-quilting-accessories/z44-super-king-rails.html /en/product/z44-super-king-rails
    Redirect 301 http://www.graceframe.com/cart/quilting-hoops/didi-lap-hoop.html /en/
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/plastic-pattern-perfect-original.html /en/product/plastic-pattern-perfect
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/luminess-light-station.html /en/accessories/luminess
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/luminess-2-ft-extension.html /en/product/luminess-extension
    Redirect 301 http://www.graceframe.com/cart/machine-quilting-frames/sr2-machine-quiting-frame.html /en/machine-frames/sr-2-frame
    Redirect 301 http://www.graceframe.com/cart/quilting-accessories/machine-quilting-accessories/sr2-machine-frame-table-inserts.html /en/product/sr2-table-inserts
    Redirect 301 http://www.graceframe.com/cart/machine-quilting-frames/gracie-king.html /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/z44-pro-the-cadillac-of-hand-quilting-frames?tmpl=component&amp;print=1 /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley?tmpl=component&amp;print=1 /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley?start=10 /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley?start=20 /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley?start=30 /en/
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/grace-elizabeth-bagley?start=40 /en/
    Redirect 301 http://www.graceframe.com/site/quilting-software-support /en/
    Redirect 301 http://www.graceframe.com/site/frame-assembly-videos /en/resources/support/videos
    Redirect 301 http://www.graceframe.com/site/component/content/article/18-support/76-attaching-fabric /en/resources/support/videos#quilting-frame-fabric-loading-videos
    Redirect 301 http://www.graceframe.com/site/attaching-fabric-to-a-grace-frame /en/resources/support/videos#quilting-frame-fabric-loading-videos
    Redirect 301 http://www.graceframe.com/site/surestitch-support-videos /en/resources/support/videos#surestitch-videos
    Redirect 301 http://www.graceframe.com/site/my-comfort-cutter-support /en/resources/support/videos#comfort-cutter-videos
    Redirect 301 http://www.graceframe.com/site/truesharp-sharpener-support /en/resources/support/videos#sharpener-support-videos
    Redirect 301 http://www.graceframe.com/site/linear-sharpener-support /en/resources/support/videos#sharpener-support-videos
    Redirect 301 http://www.graceframe.com/site/grace-blog/entry/quilters-creative-touch-sneak-a-peak-3?tmpl=component&amp;print=1 /en/
    Redirect 301 http://www.graceframe.com/cart/computerized-quilting/quilters-creative-design-pro.html /en/product/quilters-creative-design-pro
    Redirect 301 http://www.graceframe.com/cart/computerized-quilting/quilters-creative-design.html /en/product/quilters-creative-design-pro
    Redirect 301 http://www.graceframe.com/cart/computerized-quilting/quiters-creative-design-pro.html /en/product/quilters-creative-design-pro
    Redirect 301 http://www.graceframe.com/cart/computerized-quilting/quiters-creative-design.html /en/product/quilters-creative-design-pro
    Redirect 301 http://www.graceframe.com/cart/machine-quilting-frames/gq-machine-quilting-frame.html /en/machine-frames/gq-frame
    Redirect 301 http://www.graceframe.com/cart/gq-frame-extension.html /en/product/gq-frame-extension


    # new after going live
    Redirect 301 /site/pdf_instructions/current_accessories/surestitch_universal_instructions.pdf /frontend/images/instruction-pdfs/accessories/surestitch_universal_instructions.pdf
    Redirect 301 /cart/hand-quilting-frames/z44.html /en/hand-quilting/z44-frame
    Redirect 301 /cart/hand-quilting-frames/ez3.html /en/hand-quilting/start-right-ez3
 

    RedirectMatch ^/cart/quilting-accessories/(.*)$ https://www.graceframe.com/en/accessories$1
    RedirectMatch ^/cart/machine-quilting-frames/(.*)$ https://www.graceframe.com/en/machine-frames$1
    RedirectMatch ^/site/grace-blog/(.*)$ https://www.graceframe.com/en/resources/blog/$1
    RedirectMatch ^/site/component/(.*)$ https://www.graceframe.com/$1
    RedirectMatch ^/cart/computerized-quilting/(.*)$ https://www.graceframe.com/en/automation/qct/$1
    RedirectMatch ^/site/pdf_instructions/(.*)$ https://www.graceframe.com/en/resources/support/instructions/$1
    RedirectMatch ^/site/(.*)$ https://www.graceframe.com/en/$1

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
