body > div.main-container > div.navbar-content > div > ul > li > ul > li  > a > i.fa.fa-angle-left.pull-right { display: none; }
ul.main-navigation-menu ul.sub-menu > li > a { border: 0 none; display: block; font-size: 14px; font-weight: 300; margin: 0; padding: 10px 15px; position: relative; text-decoration: none; border-bottom: 1px solid #DDDDDD; border-top: 1px solid #FFFFFF; }
ul.main-navigation-menu ul.sub-menu > ul.sub-menu > li > a { border: 0 none; display: block; font-size: 14px; font-weight: 300; background: yellow; margin: 0; padding: 10px 15px; position: relative; text-decoration: none; border-bottom: 1px solid #DDDDDD; border-top: 1px solid #FFFFFF; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.mt05 { margin-top: 0.5em; }
.mt10 { margin-top: 1.0em; }
.mt15 { margin-top: 1.5em; }
.mt20 { margin-top: 2.0em; }
.mt25 { margin-top: 2.5em; }

.mt30 { margin-top: 3.0em; }

.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }
.form-group label.checkbox{margin:0px !important;;padding:0px !important;}
.row{
    overflow: hidden; 
}
.form-group .error{
    line-height: 1.8;
    color: #f96a74;
}
.mandatory{
    color:#FF0000!important;
}