#header-container {
margin:0 auto;
border-bottom: 1px solid #81482D;
background: url("https://store.graceframe.com/cart/skin/frontend/girly_store/default/images/header_top_container_bg.jpg") repeat-x 50% 0;
height: 125px;
padding:20px;
}

#header-content {
padding:20px;
margin-top:20px;
}

#left-side {
width:500px;
}

#right-side {
width:500px;
text-align:right;
}

#right-side h1,#right-side h2,#right-side h3,#right-side h4, #right-side h5 {
font-size:30px;
margin:0;
}

#right-side #main-head {
padding:5px;
}

#right-side ul.top-nav li {
	list-style: none;
	display: inline;
}

#right-side ul.top-nav li a:link, 
#right-side ul.top-nav li a:visited {
	color: black;
	padding-right: 5px;
	border-right: 1px black solid;
	text-decoration:underline;
}

#right-side ul.top-nav li a:hover {
	text-decoration:none;
	background:lime;
}
