.error,.errormsg{
    color:#FF0000 !important;
}
input.error,select.error,textarea.error{
    border: 1px solid #FF0000 !important;
}
.user-cart {
    float: right !important;
    margin-right: 15px !important;
    width: auto !important;
}