.error,.errormsg{
    color:#D7244C !important;
}
input.error,select.error,textarea.error{
    border: 1px solid #D7244C !important;
}
.input-group.error input,.input-group.error select,.input-group.error textarea{
    color:#D7244C!important;
}
.user-cart {
    float: right !important;
    margin-right: 15px !important;
    width: auto !important;
}
.error ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#D7244C!important;
}
.error :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#D7244C!important;
    opacity:1;
}
.error ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#D7244C!important;
    opacity:1;
}
.error :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#D7244C!important;
}
.error ::-ms-input-placeholder { /* Microsoft Edge */
    color:#D7244C!important;
}
.child-label-red label{
    color:#D7244C!important;
}
.child-label-red label.label_same_as_address{
    color:#000!important;
}
.nobottommargin{
    margin-bottom: 0px !important;
}
.ul-scroll{
    overflow-y: scroll;
    max-height: 250px;
}
#TB_window,#TB_secondLine{
    font:inherit !important;
}
a.disabled {
    cursor: not-allowed !important;
    filter: alpha(opacity=65) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: .65 !important;
}
.underline{
    text-decoration: underline !important;
}