.transparent-block-light, .transparent-block-dark{text-align: center; padding: 15px; min-width: 280px;}
.transparent-block-light{ background-color: rgba(250,250,250,0.95);}
.transparent-block-dark{ background-color: rgba(0,0,0,0.6);}

.block-img{  
    border-radius: 100%;
    overflow: hidden;
}

.block-img img{width:100%;}